In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import matplotlib as mpl
%matplotlib inline
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 200)

In [2]:
import os, sys
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
default_dir = "/content/gdrive/My Drive"
df_train = pd.read_csv(os.path.join(default_dir,"train.csv")) # 학습용 데이터
df_test = pd.read_csv(os.path.join(default_dir,"submission.csv")) # 테스트 데이터(제출파일의 데이터)

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59299 entries, 0 to 59298
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bant_submit              59299 non-null  float64
 1   customer_country         58317 non-null  object
 2   business_unit            59299 non-null  object
 3   com_reg_ver_win_rate     14568 non-null  float64
 4   customer_idx             59299 non-null  int64
 5   customer_type            15338 non-null  object
 6   enterprise               59299 non-null  object
 7   historical_existing_cnt  13756 non-null  float64
 8   id_strategic_ver         3444 non-null   float64
 9   it_strategic_ver         1121 non-null   float64
 10  idit_strategic_ver       4565 non-null   float64
 11  customer_job             40566 non-null  object
 12  lead_desc_length         59299 non-null  int64
 13  inquiry_type             58358 non-null  object
 14  product_category         39925 non-null  object
 15  product_subcategory      9235 non-null   object
 16  product_modelname        9229 non-null   object
 17  customer_country.1       58317 non-null  object
 18  customer_position        59299 non-null  object
 19  response_corporate       59299 non-null  object
 20  expected_timeline        28436 non-null  object
 21  ver_cus                  59299 non-null  int64
 22  ver_pro                  59299 non-null  int64
 23  ver_win_rate_x           18417 non-null  float64
 24  ver_win_ratio_per_bu     15304 non-null  float64
 25  business_area            18417 non-null  object
 26  business_subarea         5526 non-null   object
 27  lead_owner               59299 non-null  int64
 28  is_converted             59299 non-null  bool
dtypes: bool(1), float64(8), int64(5), object(15)
memory usage: 12.7+ MB

In [5]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['bant_submit'].isin(df_test['bant_submit'])]['bant_submit']
missing_values.value_counts(dropna = False)

Series([], Name: bant_submit, dtype: int64)

In [6]:
missing_values = df_test[~df_test['bant_submit'].isin(df_train['bant_submit'])]['bant_submit']
missing_values.value_counts(dropna = False)

Series([], Name: bant_submit, dtype: int64)

In [7]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['customer_country'].isin(df_test['customer_country'])]['customer_country']
missing_values.value_counts(dropna = False)

NaN                            982
Mexico                         453
//Colombia                     403
//Egypt                        244
/BOGOTÁ/Colombia               194
                              ...
/Augsburg/Germany                1
/Guayas / Guayaquil/Ecuador      1
/Bordon/United Kingdom           1
/AMK/Singapore                   1
/paris/France                    1
Name: customer_country, Length: 15014, dtype: int64

In [8]:
missing_values = df_test[~df_test['customer_country'].isin(df_train['customer_country'])]['customer_country']
missing_values.value_counts(dropna = False)

/  / Peru                                                       184
Corporate /  /                                                  135
/  / Brazil                                                     132
/  / India                                                      116
/  / United States                                               76
                                                               ...
/ fhfu / India                                                    1
/ Tulancingo de Bravo / Mexico                                    1
Bldg 14 Saufley Road   / NASNI Coronado / CA / United States      1
/ Valparaiso / Viña del Mar / Chile                               1
/ Ongole  / India                                                 1
Name: customer_country, Length: 2081, dtype: int64

In [9]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['business_unit'].isin(df_test['business_unit'])]['business_unit']
missing_values.value_counts(dropna = False)

Solution    296
CM            2
Name: business_unit, dtype: int64

In [10]:
missing_values = df_test[~df_test['business_unit'].isin(df_train['business_unit'])]['business_unit']
missing_values.value_counts(dropna = False)

Series([], Name: business_unit, dtype: int64)

In [11]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['com_reg_ver_win_rate'].isin(df_test['com_reg_ver_win_rate'])]['com_reg_ver_win_rate']
missing_values.value_counts(dropna = False)

0.105263    31
0.125000    13
0.200000     5
Name: com_reg_ver_win_rate, dtype: int64

In [12]:
missing_values = df_test[~df_test['com_reg_ver_win_rate'].isin(df_train['com_reg_ver_win_rate'])]['com_reg_ver_win_rate']
missing_values.value_counts(dropna = False)

Series([], Name: com_reg_ver_win_rate, dtype: int64)

In [13]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['customer_idx'].isin(df_test['customer_idx'])]['customer_idx']
missing_values.value_counts(dropna = False)

25096    2421
43395      91
33763      88
37654      76
29370      61
         ...
26323       1
46          1
46215       1
8644        1
30268       1
Name: customer_idx, Length: 34667, dtype: int64

In [14]:
missing_values = df_test[~df_test['customer_idx'].isin(df_train['customer_idx'])]['customer_idx']
missing_values.value_counts(dropna = False)

26303    14
28290    10
35824     9
918       9
46211     9
         ..
30709     1
6157      1
12511     1
36870     1
23646     1
Name: customer_idx, Length: 3624, dtype: int64

In [15]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['customer_type'].isin(df_test['customer_type'])]['customer_type']
missing_values.value_counts(dropna = False)

Installer/Contractor            52
Specifier / Influencer          43
Corporate                       31
HVAC Engineer                   23
Engineer                        20
Technician                      16
Consultant                      15
Home Owner                      10
Other                           10
Manager / Director               8
End-user                         8
Software/Solution Provider       7
Etc.                             6
Architect/Consultant             5
Homeowner                        5
Installer                        5
Reseller                         5
Interior Designer                5
Others                           4
Distributor                      4
System Integrator                2
Dealer/Distributor               2
Software / Solution Provider     1
Technical Assistant              1
Commercial end-user              1
Administrator                    1
Name: customer_type, dtype: int64

In [16]:
missing_values = df_test[~df_test['customer_type'].isin(df_train['customer_type'])]['customer_type']
missing_values.value_counts(dropna = False)

Series([], Name: customer_type, dtype: int64)

In [17]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['enterprise'].isin(df_test['enterprise'])]['enterprise']
missing_values.value_counts(dropna = False)

Series([], Name: enterprise, dtype: int64)

In [18]:
missing_values = df_test[~df_test['enterprise'].isin(df_train['enterprise'])]['enterprise']
missing_values.value_counts(dropna = False)

Series([], Name: enterprise, dtype: int64)

In [19]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['historical_existing_cnt'].isin(df_test['historical_existing_cnt'])]['historical_existing_cnt']
missing_values.value_counts(dropna = False)

103.0     63
38.0      25
52.0      24
104.0     24
233.0     18
58.0      17
37.0      13
36.0      13
56.0      12
47.0      11
46.0       9
44.0       8
106.0      8
78.0       7
88.0       7
113.0      6
59.0       6
75.0       6
99.0       5
114.0      5
73.0       5
67.0       4
107.0      4
66.0       4
80.0       4
666.0      4
900.0      4
63.0       3
64.0       3
130.0      3
838.0      3
117.0      3
154.0      3
50.0       3
76.0       3
153.0      3
144.0      3
89.0       3
85.0       3
166.0      3
71.0       2
92.0       2
131.0      2
192.0      2
109.0      2
81.0       2
472.0      2
324.0      2
304.0      2
406.0      2
102.0      2
77.0       2
110.0      2
174.0      2
175.0      1
168.0      1
72.0       1
189.0      1
136.0      1
54.0       1
167.0      1
97.0       1
1104.0     1
212.0      1
43.0       1
84.0       1
404.0      1
69.0       1
145.0      1
1394.0     1
199.0      1
158.0      1
162.0      1
108.0      1
Name: historical_existing_cnt, dtype: int64

In [20]:
missing_values = df_test[~df_test['historical_existing_cnt'].isin(df_train['historical_existing_cnt'])]['historical_existing_cnt']
missing_values.value_counts(dropna = False)

223.0     4
143.0     3
204.0     3
65.0      3
98.0      1
179.0     1
2219.0    1
244.0     1
139.0     1
148.0     1
243.0     1
155.0     1
Name: historical_existing_cnt, dtype: int64

In [21]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['id_strategic_ver'].isin(df_test['id_strategic_ver'])]['id_strategic_ver']
missing_values.value_counts(dropna = False)

Series([], Name: id_strategic_ver, dtype: int64)

In [22]:
missing_values = df_test[~df_test['id_strategic_ver'].isin(df_train['id_strategic_ver'])]['id_strategic_ver']
missing_values.value_counts(dropna = False)

Series([], Name: id_strategic_ver, dtype: int64)

In [23]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['it_strategic_ver'].isin(df_test['it_strategic_ver'])]['it_strategic_ver']
missing_values.value_counts(dropna = False)

Series([], Name: it_strategic_ver, dtype: int64)

In [24]:
missing_values = df_test[~df_test['it_strategic_ver'].isin(df_train['it_strategic_ver'])]['it_strategic_ver']
missing_values.value_counts(dropna = False)

Series([], Name: it_strategic_ver, dtype: int64)

In [25]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['idit_strategic_ver'].isin(df_test['idit_strategic_ver'])]['idit_strategic_ver']
missing_values.value_counts(dropna = False)

Series([], Name: idit_strategic_ver, dtype: int64)

In [26]:
missing_values = df_test[~df_test['idit_strategic_ver'].isin(df_train['idit_strategic_ver'])]['idit_strategic_ver']
missing_values.value_counts(dropna = False)

Series([], Name: idit_strategic_ver, dtype: int64)

In [27]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['customer_job'].isin(df_test['customer_job'])]['customer_job']
missing_values.value_counts(dropna = False)

graphic/color art                 331
owner                              57
manager                            53
project manager                    46
art and design                     28
                                 ...
appliance specialist                1
av estimator                        1
purchasers                          1
pricing                             1
exhibition / convention center      1
Name: customer_job, Length: 521, dtype: int64

In [28]:
missing_values = df_test[~df_test['customer_job'].isin(df_train['customer_job'])]['customer_job']
missing_values.value_counts(dropna = False)

healthcare    2
k12 school    1
Name: customer_job, dtype: int64

In [29]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['lead_desc_length'].isin(df_test['lead_desc_length'])]['lead_desc_length']
missing_values.value_counts(dropna = False)

170     67
210     43
216     43
247     41
190     39
        ..
1198     1
907      1
613      1
676      1
1022     1
Name: lead_desc_length, Length: 445, dtype: int64

In [30]:
missing_values = df_test[~df_test['lead_desc_length'].isin(df_train['lead_desc_length'])]['lead_desc_length']
missing_values.value_counts(dropna = False)

743     2
736     2
1056    1
658     1
1035    1
633     1
772     1
923     1
739     1
1051    1
1143    1
917     1
970     1
980     1
681     1
703     1
600     1
Name: lead_desc_length, dtype: int64

In [31]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['inquiry_type'].isin(df_test['inquiry_type'])]['inquiry_type']
missing_values.value_counts(dropna = False)

Quotation or purchase consultation                                                                                     23274
Sales Inquiry                                                                                                           9977
Usage or technical consultation                                                                                          668
Request for quotation or purchase                                                                                        230
usage or technical consultation                                                                                          160
ETC.                                                                                                                     158
Technical Support                                                                                                        110
sales                                                                                                                    100
quotation_or_purchase_consultation                                                                                        95
Etc.                                                                                                                      63
Request for technical consulting                                                                                          37
other                                                                                                                     22
Purchase or Quotation                                                                                                     10
usage_or_technical_consultation                                                                                           10
IDB                                                                                                                       10
technical                                                                                                                  8
Event Inquiry                                                                                                              5
Purchase                                                                                                                   5
Sales inquiry                                                                                                              4
technical_consultation                                                                                                     4
Quotation or Purchase consultation                                                                                         3
Video Wall                                                                                                                 2
Vui lòng báo giá giúp mình sản phẩm đo thân nhiệt Xin cảm ơn                                                               2
Toi muon tim hieu thong tin ky thuat, gia ca cua sp de su dung                                                             2
tôi cần tham khảo giá và giải pháp từ LG                                                                                   2
Probeam precio                                                                                                             2
Standalone                                                                                                                 1
LED Signage                                                                                                                1
for school                                                                                                                 1
Not specified                                                                                                              1
Intégrateur historique du George V                                                                                         1
Solicito apoyo para realizar cotizacion de los dispositivos que ofrecen en la solución One Quick:                          1
Preciso de um monitor médico para radiografia convencional e tomogrtafia.                                                  1
Pantallas Interactivas para Clinicas                                                                                       1
Hotel TV products                                                                                                          1
VRF                                                                                                                        1
High inch 86 / 98 or 110                                                                                                   1
window facing product                                                                                                      1
EDUCATIONAL EQUIPMENTS                                                                                                     1
(Select ID_Needs)                                                                                                          1
One Quick:Flex                                                                                                             1
AIO                                                                                                                        1
Needs                                                                                                                      1
Hospital TV                                                                                                                1
others                                                                                                                     1
i want to know the details about it                                                                                        1
Digital platform                                                                                                           1
Hola me pueden cotizar 19 pantallas interactivas de 100 pulgadas entregadas en Guayaquil -Ecuador.                         1
TV interactive                                                                                                             1
teach                                                                                                                      1
Display Textbook and photos                                                                                                1
quotation_                                                                                                                 1
display product                                                                                                            1
first Info and pricing                                                                                                     1
estoy buscando para Ecuador este producto LG MAGNIT micro LED, para un cliente de 138 pulgadas, con envió marítimo.        1
Evento_SdelEstero                                                                                                          1
Name: inquiry_type, dtype: int64

In [32]:
missing_values = df_test[~df_test['inquiry_type'].isin(df_train['inquiry_type'])]['inquiry_type']
missing_values.value_counts(dropna = False)

Series([], Name: inquiry_type, dtype: int64)

In [33]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['product_category'].isin(df_test['product_category'])]['product_category']
missing_values.value_counts(dropna = False)

rac                                           1447
lg one:quick series                            768
teto ou cassete inverter                       308
multi inverter                                 257
ar condicionado residencial                    224
                                              ...
system ac                                        1
sac                                              1
laec015-gn.awz                                   1
gscd046                                          1
monior/monitor tv,refrigerator,audio/video       1
Name: product_category, Length: 326, dtype: int64

In [35]:
missing_values = df_test[~df_test['product_category'].isin(df_train['product_category'])]['product_category']
missing_values.value_counts(dropna = False)

ess         4
notebook    1
Name: product_category, dtype: int64

In [36]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['product_subcategory'].isin(df_test['product_subcategory'])]['product_subcategory']
missing_values.value_counts(dropna = False)

One:Quick Share                    60
OneQuick Flex                      58
SVH7F Series                       55
US662H Series                      48
TC3D Series                        38
                                   ..
其他                                  1
Not available as a split system     1
Required the Multi Split            1
Required Only Multi Split           1
EVR                                 1
Name: product_subcategory, Length: 206, dtype: int64

In [34]:
missing_values = df_test[~df_test['product_subcategory'].isin(df_train['product_subcategory'])]['product_subcategory']
missing_values.value_counts(dropna = False)

ESS                                                                                                     5
Heat Pump Water Heater                                                                                  2
VRF,Multi-Split                                                                                         2
SURGICAL                                                                                                2
CineBeam                                                                                                2
LG Indoor LED                                                                                           2
VRF,Multi-Split,Single-Split                                                                            2
LG Miraclass                                                                                            2
VRF,Multi-Split,Single-Split,Heating                                                                    1
T-OLED                                                                                                  1
Essential Commercial TV                                                                                 1
Videowall                                                                                               1
3.0 TR -1 Nos. Cassette                                                                                 1
AN960H Series                                                                                           1
Energy storage, Home automation, PV modules, Solar & water, Solar heating and cooling, hot water, po    1
LG Miraclass, 4K Resolution, 5m Screen                                                                  1
UT577H Series                                                                                           1
VRF,Multi-Split,Single-Split,Chiller,Heating,Etc.                                                       1
VRF,Single-Split,Chiller                                                                                1
one way - 1 nos.                                                                                        1
Interactive                                                                                             1
LG LED All-in-One                                                                                       1
VRF,Multi-Split,Single-Split,Chiller,Heating                                                            1
Medical Displays- Surgical- ALL                                                                         1
PVs, PV modules                                                                                         1
Cirugia                                                                                                 1
Name: product_subcategory, dtype: int64

In [37]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['product_modelname'].isin(df_test['product_modelname'])]['product_modelname']
missing_values.value_counts(dropna = False)

28MQ780                 479
All Medical Displays    350
Diagnostic Monitors     167
Ergo Dual(27QP88D)      167
DualUp(28MQ780)         139
                       ...
86UL3J                    1
55US660H0SD.BWZ           1
43UT662M (MEA)            1
50US665H (ASIA)           1
55US660H (SCA)            1
Name: product_modelname, Length: 509, dtype: int64

In [38]:
missing_values = df_test[~df_test['product_modelname'].isin(df_train['product_modelname'])]['product_modelname']
missing_values.value_counts(dropna = False)

MAGNIT                                 6
86TR3DK-BG                             3
65TR3DK-BG                             3
LDAA012                                3
43LT340C (ASIA)                        2
43UN700T                               2
75TR3DK-BG                             1
55TR3DK-BM                             1
86TR3DK-BM                             1
Radiology                              1
55UT640S (EU)                          1
75UR640S (MEA)                         1
49VL5GM                                1
manager                                1
98TR3PJ, 86TR3DK & 75TR3DK             1
43UQ751C (EU/CIS)                      1
50UN570H (NA)                          1
27HJ510S                               1
55AN960H (EU)                          1
Conference room                        1
43LT340C (NA)                          1
LSBE015                                1
GSCD100-GN                             1
LAEC018                                1
55UT577H (NA)                          1
55TR3DK/65TR3DK                        1
LSVP(Digital Signage)                  1
LBAF015                                1
Integrated LSVP                        1
28LT340C (CIS)                         1
Createboard                            1
27HK510S, 27HQ710S,32HL714S, 55MH5K    1
24MP88HV                               1
LAAA015                                1
Name: product_modelname, dtype: int64

In [39]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['customer_position'].isin(df_test['customer_position'])]['customer_position']
missing_values.value_counts(dropna = False)

end-user                                                   424
hospital                                                   201
installer                                                   60
government                                                  29
cargo                                                       27
software /solution provider                                 25
manufacturer                                                23
consultant                                                  23
system integrator                                           21
homeowner                                                   21
unpaid                                                      17
employee                                                    14
vicepresident                                               11
medical device manufacturer                                 11
decision maker                                               9
decision influencer                                          9
engineering                                                  9
bulgaria                                                     8
leadership/executive office/owner                            8
not applicable                                               7
decision-influencer                                          7
commercial end-user                                          7
c-levelexecutive                                             6
administrative                                               5
decision-maker                                               3
no influence                                                 3
gerente                                                      3
entrepreneurship                                             3
exhibition                                                   3
entrylevel                                                   3
medical imaging specialist                                   3
operations                                                   3
physics teacher                                              3
principal at oxford integrated pu science college            2
professor of mathematics                                     2
other - please specify - cedia association                   2
consulting                                                   2
business development                                         2
physics and mathematics teacher                              2
business partner                                             2
principal & director                                         2
av management                                                2
founder                                                      2
architect/consultant                                         2
ceo/fundador                                                 2
academic specialist                                          2
science teacher                                              2
prof.                                                        2
professional trainer                                         1
associate professor in electronics engg                      1
tierarzt                                                     1
education                                                    1
subsidiary sales (ise)                                       1
chief executive officer                                      1
this is a consume display requirement for home purpose.      1
president                                                    1
business development/sales                                   1
sales                                                        1
técnico                                                      1
exhibitiontv                                                 1
proprietário(a)                                              1
genel müdür                                                  1
mindenes                                                     1
senior lecturer                                              1
főorvos                                                      1
surgery professional                                         1
pathologist                                                  1
research                                                     1
the big boss                                                 1
neet/ olympiad expert faculty                                1
career coach                                                 1
teacher                                                      1
chemistry teacher                                            1
maths lecturer                                               1
lider de desarrollo                                          1
commercial consultant                                        1
technical                                                    1
architecture/consult                                         1
distributor                                                  1
business unit director                                       1
vp                                                           1
guest faculty                                                1
physics faculty                                              1
product management                                           1
market intelligence/research                                 1
teacher/middle school coordinator                            1
assistant professor of enlish                                1
quantitative aptitude faculty                                1
english trainer for ielts,toefl,pte,gre,sat exams.           1
associate professor                                          1
hon dean                                                     1
chairman                                                     1
pgt physics                                                  1
education professional                                       1
radiology professional                                       1
Name: customer_position, dtype: int64

In [40]:
missing_values = df_test[~df_test['customer_position'].isin(df_train['customer_position'])]['customer_position']
missing_values.value_counts(dropna = False)

pgt chemistry    1
Name: customer_position, dtype: int64

In [41]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['response_corporate'].isin(df_test['response_corporate'])]['response_corporate']
missing_values.value_counts(dropna = False)

LGEKR    433
LGETT     47
LGEJP     41
LGESW     31
LGEMC     30
LGEEB     13
LGERA      8
LGECZ      7
LGELA      2
LGEUR      1
LGEIR      1
LGEBT      1
Name: response_corporate, dtype: int64

In [42]:
missing_values = df_test[~df_test['response_corporate'].isin(df_train['response_corporate'])]['response_corporate']
missing_values.value_counts(dropna = False)

Series([], Name: response_corporate, dtype: int64)

In [44]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['expected_timeline'].isin(df_test['expected_timeline'])]['expected_timeline']
missing_values.value_counts(dropna = False)

less than 6 months                                  108
etc.                                                 95
less_than_3_months                                   76
being followed up                                    66
being followed up.                                   24
                                                   ...
not answering call, will try to reach him again.      1
cms reqired                                           1
no requirement of this time                           1
not reachable , lead shared with partner              1
up to december                                        1
Name: expected_timeline, Length: 444, dtype: int64

In [45]:
missing_values = df_test[~df_test['expected_timeline'].isin(df_train['expected_timeline'])]['expected_timeline']
missing_values.value_counts(dropna = False)

Series([], Name: expected_timeline, dtype: int64)

In [46]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['ver_cus'].isin(df_test['ver_cus'])]['ver_cus']
missing_values.value_counts(dropna = False)

Series([], Name: ver_cus, dtype: int64)

In [47]:
missing_values = df_test[~df_test['ver_cus'].isin(df_train['ver_cus'])]['ver_cus']
missing_values.value_counts(dropna = False)

Series([], Name: ver_cus, dtype: int64)

In [48]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['ver_pro'].isin(df_test['ver_pro'])]['ver_pro']
missing_values.value_counts(dropna = False)

Series([], Name: ver_pro, dtype: int64)

In [49]:
missing_values = df_test[~df_test['ver_pro'].isin(df_train['ver_pro'])]['ver_pro']
missing_values.value_counts(dropna = False)

Series([], Name: ver_pro, dtype: int64)

In [50]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['ver_win_rate_x'].isin(df_test['ver_win_rate_x'])]['ver_win_rate_x']
missing_values.value_counts(dropna = False)

Series([], Name: ver_win_rate_x, dtype: int64)

In [52]:
missing_values = df_test[~df_test['ver_win_rate_x'].isin(df_train['ver_win_rate_x'])]['ver_win_rate_x']
missing_values.value_counts(dropna = False)

Series([], Name: ver_win_rate_x, dtype: int64)

In [53]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['ver_win_ratio_per_bu'].isin(df_test['ver_win_ratio_per_bu'])]['ver_win_ratio_per_bu']
missing_values.value_counts(dropna = False)

0.034483    29
Name: ver_win_ratio_per_bu, dtype: int64

In [54]:
missing_values = df_test[~df_test['ver_win_ratio_per_bu'].isin(df_train['ver_win_ratio_per_bu'])]['ver_win_ratio_per_bu']
missing_values.value_counts(dropna = False)

Series([], Name: ver_win_ratio_per_bu, dtype: int64)

In [55]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['business_area'].isin(df_test['business_area'])]['business_area']
missing_values.value_counts(dropna = False)

Series([], Name: business_area, dtype: int64)

In [56]:
missing_values = df_test[~df_test['business_area'].isin(df_train['business_area'])]['business_area']
missing_values.value_counts(dropna = False)

Series([], Name: business_area, dtype: int64)

In [57]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['business_area'].isin(df_test['business_area'])]['business_area']
missing_values.value_counts(dropna = False)

Series([], Name: business_area, dtype: int64)

In [58]:
missing_values = df_test[~df_test['business_area'].isin(df_train['business_area'])]['business_area']
missing_values.value_counts(dropna = False)

Series([], Name: business_area, dtype: int64)

In [59]:
# df_train에는 있지만 df_test에는 없는 값을 찾기
missing_values = df_train[~df_train['lead_owner'].isin(df_test['lead_owner'])]['lead_owner']
missing_values.value_counts(dropna = False)

175    4120
23     2453
96      981
363     839
38      693
       ...
949       1
452       1
951       1
709       1
486       1
Name: lead_owner, Length: 629, dtype: int64

In [60]:
missing_values = df_test[~df_test['lead_owner'].isin(df_train['lead_owner'])]['lead_owner']
missing_values.value_counts(dropna = False)

731     87
135     43
316     28
308     22
766     20
353     18
1108    15
1046    14
999     13
733     10
748      9
356      8
727      7
723      7
874      6
591      6
377      5
313      5
867      5
960      5
327      4
379      4
962      4
331      4
866      4
315      4
127      3
969      3
373      3
772      3
1026     3
1055     3
750      3
571      2
581      2
573      2
595      2
751      2
868      2
736      2
828      2
558      2
963      2
844      2
323      2
978      2
908      2
892      2
587      2
752      1
965      1
588      1
769      1
1058     1
565      1
576      1
1024     1
1033     1
562      1
1023     1
347      1
734      1
336      1
911      1
907      1
850      1
1056     1
749      1
1063     1
1028     1
136      1
1032     1
427      1
747      1
554      1
1062     1
773      1
777      1
1025     1
320      1
577      1
966      1
922      1
735      1
821      1
Name: lead_owner, dtype: int64